RAF-DB/
FER-2013/
AffectNet/
ExpW/
CK+/
CK+.zip
FEC/
JAFFE/
KDEF/
NHFIER/
comprehensive_results_*/
models/
models_pc/
final_model/

!results/*

venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.bak

# models
*.pth